/*Fuente*/
@font-face{
	font-family: UbuntuRegular;
	src: url(fuentes/Ubuntu-R.ttf) format("truetype");
}

@font-face{
	font-family: UbuntuBold;
	src: url(fuentes/Ubuntu-B.ttf) format("truetype");
}

@font-face{
	font-family: Arkhip;
	src: url(fuentes/Arkhip_font.ttf) format("truetype");
}

/*Estilos para Login*/
body{
    padding-top: 7%;
    text-align: center;
	margin: 0px;
	/*background: darkgray;
    background: url("../img/gris.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-position: center;*/
    background: rgba(226,226,226,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226,226,226,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    opacity: 1;
}

#principal{ 
    padding-top: 0px;
	text-align: left;
	margin: auto;
	width: 500px;
	height: 400px;
	background: rgba(0,0,0,0.3);
    border-radius: 0px 20px 0px 20px;
    box-shadow: 10px 10px 15px darkgray;
}

#principal #datos{
    padding-top: 80px;
    padding-left: 55px;
}

#principal #datos th{
    font-family: Arkhip;
    font-size: 2em;
    text-align: center;
    padding-bottom: 10px
}

#principal #datos td{
    padding: 10px
}

#principal #datos td input{
    border-radius: 0px 6px;
}

#principal #datos td #boton{
    background-color: darkorange;
    font-family: UbuntuRegular;
    font-size: 1.2em;
    width: 150px;
    height: 40px;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 3px 2px 2px grey;
}

#principal #datos td #boton:hover{/*aqui se resalta el boton a pasar el mouse por encima*/
    background: rgba(0,0,0,0.6);
    color: white;
    box-shadow: 3px 3px 5px white;
}

#principal #datos td #texto{
    font-family: UbuntuRegular;
    color: black;
    text-shadow: 1px 1px 1px white;
}

#principal #datos td a{
    text-decoration: none;
    color: #ff0000;
    /*text-shadow: -1px -1px 1px black;*/
    
}

footer{
   height: 180px; 
}