		#sses50 
		{
			display: inline;
	        width: 900px;
	        height: 120px;            
            float: right;
            /*overflow: hidden;*/
            padding-top: 5px;
            display: inline;
            /*border: 3px solid yellow;*/
		}

		#sses50 ul
		{
			height: 120px;
		    float: right;
		    margin-top: 0px;
	        /*overflow: hidden;*/
	        /*border: 2px solid red;*/

		}
		
        #sses50 li
		{
			width: 100px;	
	        height: 100px;
		    float: right;
	        list-style: none; 
	        background: #F8F9F9;
	        margin: 3px;
	        /*overflow: hidden;*/
	        border-radius: 0px 20px 0px 20px;
	        box-shadow: 1px 1px 10px white;
	        /*border: 2px solid purple;*/ 

		}
		        
		#sses50 a
		{
			width: 100px;	
	        height: 100px;
			text-decoration: none;
	        text-align: center;
	        position: absolute;
	        letter-spacing: 0;
            border-radius: 0px 20px 0px 20px; 
            /*overflow: hidden;*/
		    /*border: 1px solid green;*/
		}

		#sses50 li a img
		{
			width: 70px;
			height: 70px;
			margin-top: 5px;
			
			/*overflow: hidden;*/
		}
		        
		#sses50 a:hover, #sses50 a.current
		{
		    /*border: none;*/
			background-color: #F8F9F9;
			box-shadow: 1px 1px 10px grey;
		}
		#sses50 a.end
		{
		    width:2px;
		    padding-left:0;padding-right:0;
		}

