/*menu de navegacion*/
nav{

    display: inline;
    float: right;
    margin: 10px;

}

nav ul{
    font-size: 12px;
    padding-left: 0px;
    margin-left: 0px;
    background-color: grey;
    color: black;
    width: 50%;
    font-family: UbuntuRegular;
    position:inherit;
    display:inline;
}

nav ul li{
    display: inline;
    text-align: center;
}

nav ul li a #icono-casa, 
nav ul li a #icono-configuracion, 
nav ul li a #icono-usuario, 
nav ul li a #icono-buzon, 
nav ul li a #icono-licencia, 
nav ul li a #icono-productos, 
nav ul li a #icono-caracteristicas, 
nav ul li a #icono-paquetes,
nav ul li a #icono-salida,
nav ul li a #icono-empresas{
    background-size:contain;
    background-position: center;
    text-decoration: none;
    float: right;
    border: 1px solid white;
    border-radius: 0px 10px 0px 10px;
    margin-right: 3px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    float: right;
    border: 1px solid white;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 1px 1px 5px grey;
    width: 90px;
    margin-right: 10px;
}

nav ul li a:hover{/*aqui se resalta el boton a pasar el mouse por encima*/
    background: white;
    color: black;
    box-shadow: 0px 0px 25px grey;
}

section{
    display: inline;
    float: left;
    padding-left: 12%;
    padding-top: 7%;
    margin: 10px;
}

section ul{
    font-size: 18px;
    text-decoration: none;
    padding-left: 0px;
    margin-left: 0px;
    color: black;
    width: 70%;
    font-family: UbuntuBold;
    position: inherit;
    display: inline;
}

section ul li{
    display:inline;/*aqui quito los puntos de las listas no ordenadas*/
    text-align: center;
}
section ul li a{
    text-decoration: none;
    color: black;
    float:left;
    box-shadow: 3px 3px 7px grey;
    width: 150px;
    height: 160px;
    margin-right: 15px;

    background: rgba(255,255,255);
    border: 1px solid white;
    border-radius: 0px 25px 0px 25px;
    transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
    transform: scale(1,1);
}

section ul li a:hover{/*aqui se resalta el boton a pasar el mouse por encima*/
    color: black;

    background: rgb(255, 255, 255);
    transform: scale(1.1,1.1);
    box-shadow: 0px 0px 25px black;
}

section ul li a #icono1,section ul li a #icono2,section ul li a #icono3,section ul li a #icono4{
    background-size: contain;
    background-position: center;
    text-decoration: none;
    /*border: 1px solid white;*/
    border-radius: 0px 20px 0px 20px;
}

aside{
    background-color: beige;
    float:right;
    display: inline-table;
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 0px 25px 0px 25px;
    box-shadow: 3px 3px 10px black;
    overflow: hidden;

}

aside ul{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    float: left;
    font-family: UbuntuRegular;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

aside ul li{
    width: 100%;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 0px 5px 0px 5px;
    overflow: hidden;
}

aside ul li a{
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-decoration: none;
}
/*MAQUETACION PRINCIPAL*/
body{
/*	text-align: center;
*/	margin: 0px;
	/*background: darkgray;*/
    background:white; /*url("../img/blanco.png"), url("../img/blanco.png"), url("../img/negro.png"), url("../img/yellow.jpg") ;*/
    /*background-repeat: no-repeat;*/
    background-size: 100%;
    /*background-position: center;*/
    opacity: 1;

    border:1px solid black;

}

/*maquetacion de header y footer*/


header{
	/*display: table;/*esta funcionalidad aumenta la compatibilidad con exploradores*/
	margin: auto;
	text-align: left;
	width: 100%;
	height: 120px;
	/*background: darkgray;*/
	overflow: hidden;/*este parametro es para decir que lo que se encima se esconda y que no se vea feo en este caso son los iconos de inicio, contacto etc.*/
    border: 2px solid white;
    border-radius: 5px 35px 0px 0px;
    box-shadow: 0px 0px 10px white;
}

footer{
	/*display: table;/*esta funcionalidad aumenta la compatibilidad con exploradores*/
	margin: auto;
	text-align: center;
	width: 100%;
    height: 40%;
    border: 2px solid white;
    border-radius: 0px 0px 5px 35px;
    box-shadow: 0px 0px 10px white;
}



#caja-bajo-header{
    width: 100%;
    height: 10px;
    background: blue;
    border-radius: 0px 0px 5px 5px;
    display: table;
}

/*iconos*/

#icono-casa{
    width: 80px;
    height: 80px;
    background: url("../img/icono-casa.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono-configuracion{
    width: 80px;
    height: 80px;
    background: url("../img/icono-configuracion.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: inherit;
}

#icono-buzon{
    width: 80px;
    height: 80px;
    background: url("../img/icono-buzon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: inherit;
}

#icono-usuario{
    width: 80px;
    height: 80px;
    background: url("../img/icono-usuario.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono-licencia{
    width: 80px;
    height: 80px;
    background: url("../img/licencia.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono-productos{
    width: 80px;
    height: 80px;
    background: url("../img/producto.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono-caracteristicas{
    width: 80px;
    height: 80px;
    background: url("../img/caracteristicas.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono-paquetes{
    width: 80px;
    height: 80px;
    background: url("../img/paquetes.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono-empresas{
    width: 80px;
    height: 80px;
    background: url("../img/empresas.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono-salida{
    width: 80px;
    height: 80px;
    background: url("../img/salida.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
}

#icono1,#icono2,#icono3,#icono4{
    width: 130px;
    height: 130px;

    background: url("../img/user.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position:inherit;
    padding-left: 13%;
}

#logo{
    width: 200px;
    height: 80px;
    background: url("../img/Logo-Giadans.png");
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin: 20px;
    display: inline;
    position: inherit;
}

.style{
  thead:before,
  thead:after,
  tbody:before,
  tbody:after,
  tfoot:before,
  tfoot:after { display: none; }
}
