<html>
    <head>
        <meta http-equiv=Content-Type content="text/html;">

    </head>

    <body>

        <p align='justify'><b>Contrato de Trabajo por Tiempo Indeterminado (en lo sucesivo el Contrato) que
        celebran, por una parte, {{$datosdocumento->Empresa_Razon_Social}} (en lo sucesivo la
        Empresa), como patrón, representada por el Lic Claudio Isaac Chejfec Samich, y por la otra,
        {{$datosdocumento->Empleado_Nombres}} (en lo
        sucesivo el Empleado), por su propio derecho, el que sujetan al tenor de las
        siguientes:</b></p>
        <p></p>

        <p align='center'><b>D E C L A R A C I O N E S</b></p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;Declara la Empresa
        ser una sociedad mexicana constituida de acuerdo con las leyes mexicanas, con
        domicilio en Av. Vallarta #5683 Col. Santa Maráa Del Pueblito, Zapopan, Jalisco.
        C.P. 45018 y cuya actividad
        primordial es el <b>Comercio al por mayor
        de semillas y granos alimenticios, frutas secas, chiles secos y especias
        (clavos, pimienta, comino, nuez moscada, canela) Elaboración de cereales,
        alimentos básicos con alta densidad calórica.</b></span></p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;La Empresa
        tiene la necesidad de contratar los servicios personales del Empleado para
        desempeñar el puesto de <b>{{$datosdocumento->Puesto_Nombre}}</b>.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;El Empleado manifiesta tener los conocimientos necesarios para ocupar el puesto mencionado
        en la declaración anterior.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;El Empleado declara ser de nacionalidad <b>{{$nacionalidad->Nacionalidad_Nombre}},</b> edad
        <b>{{$edad}}</b>, sexo <b>{{ $datosdocumento->Empleado_Genero }}</b>, Estado civil <b>{{$estadocivil->EstadoCivil_Nombre}}</b>
        , Clave única de Registro de Población<b>{{$datosdocumento->Empleado_CURP}}</b>, Registro Federal de Contribuyentes
        <b>{{$datosdocumento->Empleado_RFC}}</b> con domicilio en <b>{{$datosdocumento->Empleado_Calle . ' ' . $datosdocumento->Empleado_Numero}}</b>.</p>

        <p></p>

        <p align='center'><b>C L A U S U L A S</b></p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 1.- </b> El Empleado se obliga a
        prestar sus servicios personales a la Empresa con el puesto de {{$datosdocumento->Puesto_Nombre}}
        y se obliga a desempeñar en todo momento con la mayor diligencia y eficiencia. La obligación principal del Empleado
        consiste, en forma enunciativa más no limitativa, en  [DESCRIPCIÓN DE PRINCIPALES
        ACTIVIDADES]. El Empleado acatará siempre en todos sus actos las órdenes e instrucciones dadas por las personas
        designadas por la Empresa. El Empleado conviene expresamente en observar las normas de conducta, el Reglamento
        Interior de Trabajo, prácticas mercantiles éticas y de trabajo de la Empresa durante el desempeño de sus labores, así como
        cumplir con las leyes locales de la República Mexicana.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;Si dentro de los treinta días siguientes a la celebración
        del presente Contrato, la Empresa determina que el Empleado no cuenta con los
        conocimientos, capacitación, habilidades o en general los requerimientos
        necesarios para desarrollar las actividades inherentes al puesto, como lo
        declará anteriormente, este Contrato se dará por terminado sin mayor
        responsabilidad para la Empresa, en términos de la fracción Primera del Art. 47 de la Ley Federal del Trabajo.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 2.- </b>El presente Contrato
        es celebrado por tiempo indeterminado, y el mismo podrá darse por terminado por
        cualquiera de las causas contenidas en el Art. 53 de la Ley Federal del Trabajo
        o rescindido sin responsabilidad para la Empresa en caso de que el Empleado
        incurra en las causas incluidas en el Art. 47 de la Ley antes mencionada.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula
        3.- </b>La Empresa reconoce al Empleado una antigüedad a partir del
        <b>{{ $historial->Historial_Ingreso ?? $historial->Historial_Reingreso}}</b>, para todos los efectos legales a que haya lugar.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 4.- </b>Tomando en consideración la naturaleza
        confidencial del trabajo que desempeñará el Empleado y que se han cubierto los
        requisitos legales correspondientes, ambas partes reconocen y convienen que el
        Empleado es y será considerado como un empleado de confianza para todos los
        efectos legales a que haya lugar.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 5.- </b>Las partes convienen que el
        lugar donde el Empleado prestará sus servicios será el ubicado en {{ $datosdocumento->Empresa_Domicilio}}
        así como en cualquier área o en cualquier otro espacio de oficina que la Empresa establezca en el futuro,
        dentro de la República Mexicana o en el extranjero que se requiera en virtud de
        la naturaleza del trabajo del Empleado, manifestando expresamente que faculta a
        la Empresa para reubicarlo libremente de un lugar a otro en el entendido de que
        su salario base será respetado.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 6.- </b>Considerando la naturaleza del trabajo que se
        contrata y siendo necesaria una jornada de tiempo completo, las partes acuerdan sujetarse a lo previsto por
        la Ley Federal del Trabajo en los artículos 58, 59, 60, 61 y 62, y establecen como horario de labores de
        {{ $turnos->Turno_Nombre }} [Y JORNADA], otorgándosele al trabajador ---- hora para consumir alimentos
        fuera de la fuente de trabajo sin que por ello pueda ser considerado como tiempo efectivo de trabajo ni mucho menos,
        continuación de la jornada de labores, sin embargo, el trabajador se obliga a
        registrar el inicio y terminación de su descanso en la forma en que la empresa
        lo determine.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 7.- </b>El Empleado está obligado a checar
        su tarjeta de asistencia o lista correspondiente de entrada y salida de su jornada de trabajo, debiendo de
        firmar estas cada vez que la Empresa se las entregue, por lo cual el
        incumplimiento a este requisito u obligación se tomará como falta injustificada
        sin estas no se encontrasen firmadas, para todos los efectos legales
        correspondientes y se le aplicarán sanciones que para tal efecto prevea el Reglamento Interior de Trabajo.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 8.-</b> Queda prohibido que el Empleado
        labore tiempo extraordinario, y solo se le cubrirá el pago por horas extras,
        cuando labore fuera de su horario normal de trabajo que tenga último asignado,
        siempre que aquellas, sean autorizadas previamente y por escrito por el Gerente
        de área y Gerente de Recursos Humanos, por lo que el Empleado, deberá recabar
        dicha autorización. No se entenderá como horas extras las que el Empleado
        labore fuera del horario normal de trabajo que tenga último asignado, para
        poner al corriente su trabajo ordinario. La única manera en que la empresa
        podrá ordenar, y el Empleado estar obligado a la prestación de servicios en jornada
        extraordinaria, será mediante orden expresa y por escrito que extienda la
        empresa al Empleado, sin este requisito le está prohibido al trabajador laborar
        horas extras y al patrón ordenar la ejecución de labores.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;La orden por escrito para laborar en jornada extraordinaria deberá reunir los siguientes requisitos:
        <br>1. - Contendrá el nombre, puesto y firma del representante del patrón que la extiende,
        <br>2. - El nombre y puesto del Empleado a quien se dirige,
        <br>3. - El lugar y fecha en que se expide, y
        <br>4. - El día días con fechas exactas en que se laborará en jornada
        extraordinaria, así como las horas extras a laborar y el periodo de tiempo de
        momento a momento que comprenderán las labores en jornada extraordinaria.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;La falta de cualquiera de los requisitos antes especificados trae como consecuencia la invalidez total de esa orden y no
        producirá efecto legal alguno entre las partes. Desde estos momentos acuerdan las contratantes que la falta de la orden
        por escrito para laborar en jornada extraordinaria de labores trae como
        consecuencia que el Empleado no está obligado a acatar orden alguna para
        laborar horas extras; que le queda prohibido al trabajador laborar en jornada
        extraordinaria sin verificar y recibir la orden por escrito de referencia con
        todos los requisitos aquí acordados. Las partes contratantes acuerdan que, en
        todo caso, correrá a cargo del Empleado el acreditar la existencia de la orden
        por escrito para laborar en jornada extraordinaria como requisito para que
        proceda el pago de horas extras, y para considerar que laboró esa jornada
        extraordinaria de trabajo.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 9.- </b> Durante la vigencia del presente Contrato, el
        Empleado percibirá como salario por la prestación de los servicios y el
        cumplimiento de las obligaciones a que se refiere el presente instrumento, un
        salario base de: $ {{ $importeLetra }} mensuales, a pagar en la moneda de curso
        legal en México. Dicha remuneración se pagará los días 15 y último de cada mes
        (en lo sucesivo los Días de Pago). En caso de que un Día de Pago no sea día hábil en México, la remuneración se
        pagará el día hábil anterior. El Empleado expresamente conviene que la Empresa
        podrá pagarle su salario, depositando éste y el monto de cualquier otra
        prestación a su favor en la cuenta bancaria que la Empresa designe, una vez
        hechas las retenciones y deducciones que corresponda. Queda entendido y
        convenido que el depósito en la Institución de Crédito correspondiente hará las
        veces de recibo de salario en los términos del artículo 804 de la Ley Federal
        del Trabajo.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 10.- </b>El Empleado se obliga a otorgar los días de
        pago de salarios un recibo en favor de la Empresa por la totalidad de los
        sueldos devengados hasta esa fecha. La firma del recibo correspondiente
        implicará un finiquito total para la Empresa por los servicios prestados hasta
        esa fecha.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 11.- </b>El Empleado disfrutará
        semanalmente de un día de descanso con goce de salario, que será los domingos de cada semana, en
        el entendido de que dicho salario queda incluido en la suma señalada en la
        Cláusula 9 que antecede por tratarse de retribución mensual.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 12.- </b>Durante la vigencia del
        Contrato El Empleado disfrutará de los días de descanso obligatorios señalados
        en el artículo 74 de la Ley Federal del Trabajo (incluir si existen días adicionales a los establecidos en
        dicho Artículo), cuyo salario también queda cubierto con la cantidad
        señalada en la Cláusula 9 por tratarse de la retribución mensual.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 13.-</b> El Empleado disfrutará de manera
        proporcional al tiempo trabajado de un período vacacional de acuerdo a lo dispuesto por los artículos 76 y 80 de la
        Ley Federal del Trabajo. El salario por el período antes mencionado también queda pagado con la cantidad señalada en la
        Cláusula 9. Adicionalmente, la Empresa cubrirá al Empleado una prima del [PORCENTAJE]% sobre los salarios
        que le correspondan durante el período de vacaciones.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 14.- </b>El Empleado disfrutará de manera
        proporcional al tiempo trabajado del aguinaldo, en razón de <b>[DIAS]</b> días de salario por año.
        style='mso-spacerun:yes'> </span>Esta cantidad se cubrirá a más tardar el día 20 de Diciembre</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 15.-</b> La Empresa, a
        su discreción, podrá establecer incentivos que permitan motivar al Empleado,
        ofreciendo a éste alguna prima, gratificación o premio. En cada caso, la
        Empresa fijará a su entera discreción así como
        determinará en qué momento y en qué condiciones nace el derecho del Empleado a
        recibir dicha prima, gratificación o premio. La Empresa no adquiere por este
        motivo obligación de ninguna especie, pues será absolutamente voluntario de su
        parte otorgarlos, motivo por el cual podrá establecer o no los sistemas de
        incentivos descritos con anterioridad. La Empresa podrá modificar, aumentar o
        reducir a su entera discreción y podrá igualmente cancelarlos sin que por ello
        el Empleado tenga derecho a pago o compensación alguna.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 16.-</b> El Empleado declara expresamente a la
        Empresa que está facultada para celebrar el presente Contrato; que no ha
        celebrado otros contratos y que no ha adquirido compromisos u obligaciones de
        ningún tipo para con ninguna otra persona o empresa que le impidan en forma
        alguna dar cumplimiento a las obligaciones que asume conformidad con el
        presente Contrato.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 17.-</b> En atención a las actividades que
        realiza la Empresa y dada la necesidad de mantener en absoluta confidencialidad
        los procesos de fabricación y de cualquier otra naturaleza, el Empleado se
        obliga a guardar escrupulosamente los secretos de fabricación de los productos,
        a cuya elaboración concurran directa o indirectamente o de los cuales tenga
        conocimiento por razones de trabajo, así como los asuntos administrativos, cuya
        divulgación puede causar perjuicios a la Empresa en la inteligencia de que el
        incumplimiento especifico de esta obligación lo hará acreedor a la rescisión de
        su Contrato de trabajo sin responsabilidad para la Empresa de conformidad con
        el Art. 47 de la Ley Federal del Trabajo y a las penas que impone el Código
        Penal en sus artículos 210 y 211 a quienes incurran en el delito de revelación de
        secretos.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 18.-</b> Queda estrictamente prohibido al
        Empleado recibir regalías o contraprestación alguna por parte de proveedores,
        clientes o similares. El Empleado deberá
        observar las reglas previamente señaladas por la Empresa para las compras a
        proveedores así como en el otorgamiento de términos y precios de venta a
        clientes, de igual manera el primero de los señalados guardará para con la Empresa
        la máxima fidelidad para con los procesos de trabajo como los señalados en la
        presente Cláusula y cualquier otro en el que siempre velará por los intereses
        de éste último.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 19.-</b> El empleado recibe un ejemplar del
        Reglamento Interior de Trabajo vigente en la Empresa y aplicable a todos
        los empleados de la misma, obligándose a su debida observancia, no pudiendo
        alegar ignorancia o desconocimiento del mismo con respecto de las normas
        contenidas en ella.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 20.-</b> La Empresa se obliga a afiliar al Empleado al
        Instituto Mexicano del Seguro Social. El Empleado queda obligado a sujetarse a los reconocimientos médicos que
        ordene la Empresa, de acuerdo con lo establecido por la Ley Federal del Trabajo.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 21.-</b> La Empresa se compromete a capacitar y
        adiestrar al Empleado de acuerdo con el Plan y los Programas de Capacitación y
        Adiestramiento debidamente elaborados. Asimismo el Empleado se obliga a asistir puntualmente a los cursos,
        sesiones de grupo y demás actividades que formen parte del proceso de
        capacitación y adiestramiento, cumplir con los programas respectivos y
        presentar los exámenes de evaluación de conocimientos de aptitudes que sean requeridos.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 22.-</b> Ambas partes convienen que, salvo
        por lo anteriormente estipulado, este instrumento se regirá de acuerdo con la
        Ley Federal del Trabajo; asimismo, para toda controversia derivada de la
        interpretación, ejecución y cumplimiento de este Contrato, las partes
        expresamente se someten a la jurisdicción y competencia de la Junta Local de
        Conciliación y Arbitraje del Estado de Jalisco con residencia en Guadalajara.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 23.-</b> Todos los pagos que deban hacerse al Empleado
        conforme al presente Contrato están sujetos a las retenciones aplicables
        conforme a las disposiciones legales aplicables en materia de impuestos
        presentes o futuros mexicanos de carácter federal, estatal o municipal.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;<b>Cláusula 24.-</b> Para los efectos de notificaciones,
        consentimientos, autorizaciones, declaraciones, aprobaciones, documentos y
        demás comunicaciones, la Empresa declara ser una sociedad debidamente
        constituida de conformidad con la declaración I del presente contrato, el
        Empleado declara ser de nacionalidad {{$nacionalidad->Nacionalidad_Nombre}}, de {{$edad}} años de edad,
        estado civil {{$estadocivil->EstadoCivil_Nombre}} con domicilio en {{$datosdocumento->Empleado_Calle . ' ' . $datosdocumento->Empleado_Numero}}.</p>

        <p></p>

        <p align='justify'>&nbsp;&nbsp;&nbsp;&nbsp;Leído que fue el presente CONTRATO e impuestas las partes
        de su contenido y fuerza legal, lo firman por duplicado en {{$datosdocumento->Empresa_LugarEmision}}, el {{ $Fecha }}
        en presencia de los testigos designados.</p>

        <p></p>
        <br>

        <table  style="width:100%"  align='center'>
            <tr align='center'>
                <td style="width:50%">EMPLEADO</td>
                <td style="width:50%">LA EMPRESA</td>
            </tr>

            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>

            <tr>
                <td style="width:50%">Por:</td>
                <td style="width:50%">Por:</td>
            </tr>
            <tr>
                <td style="width:50%; border-top-style: solid;">Fecha: {{ $Fecha }}</td>
                <td style="width:50%; border-top-style: solid;">Nombre: {{$emisor->Empleado_Nombre.' '.$emisor->Empleado_APaterno.' '.$emisor->Empleado_AMaterno}}</td>
            </tr>
            <tr >
                <td style="width:50%"></td>
                <td style="width:50%">Cargo: {{$emisor->Puesto_Nombre}}</td>
            </tr>
            <tr>
                <td style="width:50%">  </td>
                <td style="width:50%">Fecha: {{ $Fecha }}</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>

            <tr align='center'>
                <td style="width:50%">TESTIGO</td>
                <td style="width:50%">TESTIGO</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td style="width:50%">Por:</td>
                <td style="width:50%">Por:</td>
            </tr>
            <tr>
                <td  style="width:50%; border-top-style: solid;">Sr./Srta.</td>
                <td  style="width:50%; border-top-style: solid;">Sr./Srta.</td>
            </tr>

        </table>
    </body>
</html>
